@import 'https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:200,400';



// Fonts

$playfair: 'Playfair Display', serif;
$raleway: 'Raleway', sans-serif;

// Colors

white: rgb(250,250,250);
$black: rgb(50,50,50);
$blue: #91A7D0;
$pink: #F6CAC9;
$green: #609087;
$grey: #928475;
$yellow: #DDBF5E;





#mini {
  width:20%;
  border: 1px solid $black;
}
// Padding

.ptb {
  padding-top: 90px;
  padding-bottom: 90px;
}

.ptb30 {
  padding-top: 30px;
  padding-bottom: 30px;
}


.ptb60 {
  margin: 40px 0;
}
// shadows

.text-shadow {
  text-shadow: 2px 2px 2px $black;
}


// titles

h1 {
  font-family: $playfair;
  color: $black;
  span {
    font-weight: lighter;
  }
}

h2, h3, h4, h5, h6 {
  font-weight: bold;
  span {
    font-weight: lighter;
  }
}

h1 {
  letter-spacing: 12px;
  font-weight: bold;
}

h2 {
  letter-spacing: 5px;
}

h3 {
  color: white;
}

h4 {
  letter-spacing:3px;
}

a {
  color: $pink;
}

p span {
  font-weight: bold;
}

mark {
  background-color: $blue;
}

body {
  background-color: white;
  color: #F6CAC9;
  font-family: $raleway;
  font-weight: 200;
}

.flex {
  display: flex;
  height: 100%;
  width: 100%;
}

.bu {
  padding: 15px 15px 15px 15px;
  border-radius: 3px;
  border: 1px solid $black;
  box-shadow: 0px 20px 40px rgba(0,0,0,0.2);
  background: none;
  color: $black;
  text-transform: uppercase;
  &:hover {
    background: $black;
    color: white;
  }
}

.gopro {
  cursor: pointer;
}

.b-blue {
  background-color: $blue;
  color: $pink;
}

// Navigation
.main-nav {
  z-index:999;
  font-size: 12px;
  width:100vh;
  height:45px;
  position:fixed;
  -webkit-transform-origin: left top;
  -webkit-transform:rotate(-90deg) translateX(-100%);
  transform-origin: left top;
  transform:rotate(-90deg) translateX(-100%);
  i {
    font-size: 40px;
  }
}
ul.nav li {
  margin-right:20px;
  float: right;
  height:100%;
  line-height:45px;
}

#logo-nav {
  height: 45px;
  transform: rotate(90deg);
}




// Parallax

.parallax-window {
    min-height: 500px;
    background: transparent;
}

.parallax-window2 {
    min-height: 200px;
    background: transparent;
}

// Sections

.hidden {
  visibility: hidden;
}

.loader {
  position: fixed;
  z-index:1000;
  background: white;
  background-size: cover;
  height:100vh;
  width:100%;
  display: flex;
  header {
    margin: auto;
  }
}
.fa-angle-down {
  visibility: hidden;
}


// content


#presentation {
  .col-sm-6 {
    padding: 0;
  }

}

.background-move {
  background-image: url(https://hd.unsplash.com/photo-1468070454955-c5b6932bd08d);
  background-size:80%;
  background-position-x: 80%;
  background-position-y: 10%;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
}

.background-svg {
  height:100vh;
  width: 100%;
  background-image: image-url("round.svg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  top:0;
  left:0;
  z-index:2;
}

#logo-project {
  #hex {
    visibility: hidden;
  }
}

.presentation-left {
  height: 100vh;
  width:100%;
  display: flex;
}
.presentation-content {
  width: 70%;
  margin: auto;
  padding-left: 20px;
  p {
    font-weight: 200;
    font-family: $raleway;
    font-size: 40px;
    line-height: 60px;
  }
}


#quote {
  color: $blue;
}

.forward {
  position: absolute;
  top:40%;
  left: -60%;
  font-weight: bold;
  letter-spacing: 4px;
}

#creative_logo {
  height:80px;
  width:auto;
}

.big-text {
  font-size: 26px;
}

.lead {
  font-weight: 200;
  text-align: left;
}




  // Projet

#projects {
  height:100vh;
  width:100%;
}
.project {
  height:350px;
  padding: 0 0;
  color: white;
  a {
    color: white;
  }
}


.questions-project {
  margin: auto;
}

.content {
  padding: 10px 15px 15px;
  position: absolute;
  bottom: 0px;
  left:0px;
}

.latest {
  background: url(https://images.unsplash.com/reserve/AXx3QORhRDKAMrbb8pX4_photo%202.JPG?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=248f57b09c4fa1f9955e4eacdbb21e6e);
  background-size: cover;
  background-position:center center;
}

.jd {
  background: $black;
  background-size: cover;
  background-position:center center;
}

.ju {
  background: url(https://hd.unsplash.com/photo-1452509480110-e8de12b41396);
  background-size: cover;
  background-position:center center;
}


// Project page

.header-half {
  height: 50vh;
  z-index:1;

}

.decal {
  background-color: white;
  z-index:2;
  position: relative;
  top: -60px;
  padding: 5px 30px 5px 30px;
}

.project-link {
  letter-spacing: 3px;
}






// julien bis

.very-big:before {
  z-index:1;
  top: -2px;
  left:-2px;
  color: red;
}

.very-big {
  z-index:1;

  @media screen and (min-width: 300px) {
    font-size: 6em;
  }
  @media screen and (min-width: 480px) {
    font-size: 10em;
  }
  @media screen and (min-width: 768px) {
    font-size: 15em;
  }
  @media screen and (min-width:992px) {
    font-size: 20em;
  }
  @media screen and (min-width: 1200px) {
    font-size: 25em;
  }
}

.julien {
  color: $yellow;
}

.jeandavid {
  color: $blue;
}

.header-content {
  @media screen and (min-width:480px) {
    position: absolute;
    top:0;
  }
}
