<footer>
  <div class="container">
    <div class="col-xs-12 text-center ptb">

      <hr id="mini">
      <a href="mailto:cauliergui@gmail.com" class="ptb30 big-text">cauliergui<span>@gmail.com</span></a>
      <ul class="list-inline ptb30">
        <li><a href="https://fr.linkedin.com/in/guillaume-caulier-61854711a
    " target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li>/</li>
        <li><a href=""><i class="fa fa-github" aria-hidden="true"></i></a></li>
        <li>/</li>
        <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li>/</li>
        <li><a href=""><i class="fa fa-codepen" aria-hidden="true"></i></a></li>
      </ul>

    </div>
  </div>
</footer>





