<div class="main-nav hidden-xs">
  <ul class="nav">
    <li id="logo"><a href="/"><img src="images/logo.svg" alt="Logo Guillaume Caulier" id="logo-nav"></a></li>
    <li><a href="#">About me</a></li>
    <li><a class="gopro">Projects</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>
