---
title: Guillaume Caulier - Developper Front-end & Webdesigner
---
<%= partial "layouts/navbar" %>

<section class="header">
  <header>
    <div class="container">
      <div class="col-xs-12 text-center">
        <%= partial "svg/logo" %>
        <div class="text-center">
          <h4 class="split">Guillaume Caulier</h4>
          <hr id="mini">
          <h1 class="split">Creative Developper</h1>
        </div>
        <div class="scroll text-center">
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </header>
</section>

<section>
  <div class="container ptb">
    <div class="col-xs-12 col-sm-6 col-sm-offset-6">
      <img src="images/front-color.jpeg" alt="" class="img-responsive">
      <div class="col-xs-12 col-sm-10 forward yellow">
        <h2>&emsp;I'm an independent Front-End Developper based in Lille who bring creativity and intelligence to the world’s most beloved brands.</h2>
      </div>
    </div>
  </div>
</section>

<div class="container text-center ptb">
  <h2>Vais aller chercher l'poney!</h2>
</div>
<div class="parallax-window" data-parallax="scroll" data-image-src="images/para.jpeg"></div>


<section id="skills">
  <div class="container ptb30">
    <div class="row text-center ptb">
      <div class="col-xs-12 col-sm-3 ptb30"><i class="fa fa-html5" aria-hidden="true"></i></div>
      <div class="col-xs-12 col-sm-3 ptb30"><i class="fa fa-css3" aria-hidden="true"></i></div>
      <div class="col-xs-12 col-sm-3 ptb30"><i class="fa fa-git" aria-hidden="true"></i></div>
      <div class="col-xs-12 col-sm-3 ptb30"><img src="images/greensock-logo.svg" alt="Greensock Logo"></div>
    </div>
  </div>
</section>

<section id="projects">
  <div class="container ptb">
    <h2>PROJECTS</h2>
    <div class="row ptb">

      <div class="col-xs-12 project latest">
        <div class="content text-shadow">
          <h2>Jean-David Grattepanche</h2>
          <h4><span>Biologist</span></h4>
          <a href="jeandavidgrattepanche.html">Case study</a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 project ju">
        <div class="content text-shadow">
          <h2>Julien Cornuel</h2>
          <h4><span>Supervisor musical</span></h4>
          <a href="juliencornuelbis.html">Case study</a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 project jd">
        <div class="text-shadow text-center flex">
          <div class="questions-project">
            <img src="images/idea.svg" alt="Any questions">
            <h2>Any questions?</h2>
            <a href="">Contact me</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


