---
title: Guillaume Caulier - Developper Front-end & Webdesigner
---

<section class="header">
  <header>
    <div class="container">
      <div class="col-xs-12 text-center">
        <svg width="250px" height="321px" viewBox="135 120 550 621" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs></defs>
    <g id="logo" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(136.000000, 120.000000)">
        <path class="draw-me yourpath" d="M13.658,157.604 C10.637,155.804 9.157,153.707 9.157,151.302 C9.157,148.91 10.637,146.8 13.658,145 L120.822,82.86 C124.425,81.048 128.926,80.147 134.327,80.147 C140.332,80.147 145.129,81.047 148.732,82.86 L255.896,145 C258.893,146.8 260.397,148.91 260.397,151.302 C260.397,153.707 258.893,155.804 255.896,157.604 L164.059,209.818 L135.216,193.613 L106.408,210.718 L13.658,157.604 L13.658,157.604 Z" id="Shape" stroke="#000000" stroke-width="2"></path>
        <path class="draw-me" d="M137.928,371.935 L137.928,265.682 L166.761,248.553 L166.761,216.144 L258.597,163.005 C261.001,161.809 262.815,161.205 264.011,161.205 C267.019,161.205 268.642,162.247 268.962,164.367 C269.258,166.464 269.401,168.111 269.401,169.307 L269.401,292.677 C269.401,296.895 268.073,301.385 265.361,306.193 C262.672,311.004 259.509,314.604 255.896,316.997 L149.04,378.062 C146.634,379.282 145.374,380.126 143.329,380.038 C138.562,379.831 137.912,376.377 137.912,372.835 C137.912,372.282 137.928,371.935 137.928,371.935 L137.928,371.935 Z" id="Path" stroke="#000000" stroke-width="2"></path>
        <path class="draw-me" d="M0.143,454.308 L0.143,327.054 C0.143,326.865 0.165,323.711 0.165,321.773 C0.165,321.773 0.764,316.268 6.781,318.829 L106.195,375.933 L120.261,383.983 C123.576,385.88 125.313,387.669 125.313,391.086 C125.313,394.503 120.823,396.907 120.823,396.907 L11.205,460.776 C11.205,460.776 9.446,461.919 6.89,461.999 C6.89,461.999 1.238,462.574 0.143,456.919 L0.143,454.308" id="Shape" fill="#1D1D1B"></path>
        <path class="draw-me" d="M121.339,538.493 L14.691,476.574 C14.532,476.48 11.9,474.928 10.276,473.985 C10.276,473.985 5.954,470.804 11.027,467.008 L107.257,411.478 L120.848,403.605 C124.051,401.751 126.395,401.165 129.258,402.826 C132.122,404.49 131.952,409.424 131.952,409.424 L132.141,532.369 C132.141,532.369 132.243,534.398 131.066,536.581 C131.066,536.581 128.797,541.598 123.525,539.763 L121.339,538.493" id="Shape" stroke="#000000" stroke-width="2"></path>
        <path class="draw-me" d="M10.934,315.259 L124.035,379.776 C124.035,379.776 132.143,383.465 132.143,374.63 L132.032,264.85 L107.204,250.23 L11.586,304.785 C11.586,304.785 4.333,309.167 10.934,315.259 L10.934,315.259 Z" id="Shape" stroke="#000000" stroke-width="2"></path>
        <path class="draw-me" d="M0.143,164.157 C0.143,164.157 0.856,157.233 8.181,161.428 L103.708,216.14 L103.708,244.952 L10.945,298.991 C10.945,298.991 9.227,300.107 6.732,300.185 C6.732,300.185 1.213,300.747 0.143,295.225 L0.143,164.157" id="Shape" stroke="#000000" stroke-width="2"></path>
        <path class="draw-me" d="M279.597,165.157 C279.597,165.157 280.31,158.233 287.635,162.428 L383.162,217.14 L383.162,245.952 L290.398,299.991 C290.398,299.991 288.681,301.107 286.185,301.185 C286.185,301.185 280.665,301.747 279.596,296.225 L279.596,165.157" id="Shape" stroke="#000000" stroke-width="2"></path>
        <path class="draw-me" d="M547.093,297.123 C547.093,297.123 546.38,304.047 539.055,299.852 L443.528,245.139 L443.528,216.327 L536.292,162.288 C536.292,162.288 538.009,161.172 540.505,161.094 C540.505,161.094 546.025,160.532 547.094,166.054 L547.094,297.123" id="Shape" fill="#1D1D1B"></path>
        <path class="draw-me" d="M535.068,304.393 C538.065,306.193 539.571,308.302 539.571,310.694 C539.571,313.111 538.065,315.196 535.068,316.997 L427.904,378.238 C423.106,380.63 418.285,381.839 413.488,381.839 C409.283,381.839 404.794,380.63 399.996,378.238 L292.819,316.997 C289.798,315.196 288.318,313.111 288.318,310.694 C288.318,308.302 289.797,306.193 292.819,304.393 L385.58,250.366 L413.488,266.582 L442.32,250.366 L535.068,304.393 L535.068,304.393 Z" id="Shape" stroke="#000000" stroke-width="2"></path>
        <path class="draw-me" d="M440.679,211.607 L411.84,195.403 L383.939,211.631 L291.156,157.642 C288.134,155.843 286.653,153.734 286.653,151.343 C286.651,148.926 288.131,146.841 291.151,145.038 L398.302,83.753 C403.1,81.359 407.587,80.148 411.792,80.147 C416.589,80.145 421.411,81.352 426.21,83.742 L533.398,144.938 C536.396,146.737 537.904,148.822 537.904,151.239 C537.906,153.631 536.399,155.74 533.403,157.542 L440.679,211.607 L440.679,211.607 Z" id="Shape" stroke="#000000" stroke-width="2"></path>
        <path class="draw-me" d="M293.092,475.369 C289.455,473.236 286.244,469.803 283.462,465.064 C280.643,460.301 279.268,455.504 279.316,450.683 L279.788,328.036 C279.979,325.347 280.357,323.487 280.949,322.444 C282.464,319.851 284.205,318.974 286.184,319.756 C288.151,320.572 289.644,321.26 290.698,321.875 L397.342,383.897 C401.489,386.302 404.84,389.796 407.364,394.392 C409.898,399 411.307,403.466 411.569,407.789 L410.623,531.206 C410.456,533.907 410.076,535.756 409.473,536.798 C408.252,538.871 406.594,539.629 404.487,539.095 C402.355,538.563 400.778,537.982 399.736,537.378 L293.092,475.369 L293.092,475.369 Z" id="Shape" fill="#6C6E70"></path>
        <path class="draw-me" d="M287.405,320.919 C289.384,321.735 290.877,322.423 291.919,323.038 L396.574,383.06 C400.721,385.465 405.726,388.293 408.25,392.889 C410.797,397.497 410.529,403.629 410.801,407.952 L410.801,530.494 C410.801,530.494 411.416,539.354 403.719,538.258 C401.531,537.946 400.01,537.145 398.967,536.541 L294.323,475.53 C290.675,473.397 286.304,470.233 283.522,465.495 C280.704,460.732 280.096,454.86 280.096,448.526 L280.096,328.359 C280.097,319.191 287.405,320.919 287.405,320.919 L287.405,320.919 Z" id="Shape" fill="#1D1D1B"></path>
        <path class="draw-me yourpath" d="M269.522,328.359 L269.522,448.527 C269.522,454.861 268.915,460.733 266.096,465.496 C263.314,470.234 258.944,473.398 255.295,475.531 L150.651,536.542 C149.608,537.146 148.088,537.947 145.899,538.259 C138.202,539.356 138.817,530.495 138.817,530.495 L138.817,407.953 C139.088,403.63 138.821,397.498 141.368,392.89 C143.891,388.294 148.896,385.466 153.044,383.061 L257.7,323.038 C258.742,322.423 260.235,321.735 262.214,320.919 C262.214,320.919 269.522,319.191 269.522,328.359 L269.522,328.359 Z" id="Shape" stroke="#000000" stroke-width="2"></path>
        <path class="draw-me" d="M547.593,448.527 C547.593,454.861 546.986,460.733 544.167,465.496 C541.385,470.234 537.015,473.398 533.366,475.531 L428.722,536.542 C427.679,537.146 426.159,537.947 423.97,538.259 C416.273,539.356 416.888,530.495 416.888,530.495 L416.888,407.953 C417.159,403.63 416.892,397.498 419.439,392.89 C421.962,388.294 426.967,385.466 431.115,383.061 L535.77,323.039 C536.812,322.424 538.305,321.736 540.284,320.92 C540.284,320.919 547.593,319.191 547.593,328.359 L547.593,448.527 Z" id="Shape" stroke="#979797" fill="#1D1D1B"></path>
        <path class="draw-me yourpath" d="M286.073,140.418 C282.413,142.48 277.829,143.509 272.322,143.522 C266.789,143.545 261.968,142.314 257.822,139.826 L152.22,77.449 C149.993,75.932 148.573,74.676 147.98,73.635 C146.511,71.006 146.629,69.062 148.298,67.76 C150.004,66.457 151.355,65.532 152.41,64.941 L259.822,4.233 C263.993,1.877 268.694,0.751 273.944,0.881 C279.202,1.023 283.752,2.077 287.625,4.032 L393.653,67.203 C395.892,68.707 397.3,69.974 397.893,71.017 C399.065,73.114 398.889,74.914 397.359,76.477 C395.82,78.064 394.529,79.118 393.486,79.711 L286.073,140.418 L286.073,140.418 Z" id="Shape" fill="#1D1D1B"></path>
        <path class="draw-me yourpath" d="M288.646,617.39 C285.011,619.495 280.44,620.58 274.934,620.661 C269.402,620.751 264.566,619.577 260.39,617.14 L154.041,556.046 C151.796,554.557 150.36,553.317 149.756,552.283 C148.255,549.673 148.35,547.727 150.003,546.405 C151.693,545.081 153.033,544.139 154.081,543.536 L260.75,481.532 C264.892,479.125 269.579,477.942 274.83,478.01 C280.09,478.086 284.651,479.086 288.548,480.994 L395.333,542.878 C397.59,544.355 399.015,545.605 399.619,546.642 C400.816,548.722 400.662,550.525 399.151,552.107 C397.631,553.713 396.353,554.783 395.317,555.388 L288.646,617.39 L288.646,617.39 Z" id="Shape" fill="#1D1D1B"></path>
    </g>
</svg>

        <div class="text-center">
          <h4 class="split">Guillaume Caulier</h4>
          <hr id="mini">
          <h1 class="split">Creative Developper</h1>
        </div>
        <div class="scroll text-center">
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </header>
</section>

<section>
  <div class="container ptb">
    <div class="col-xs-12 col-sm-6 col-sm-offset-6">
      <img src="images/front-color.jpeg" alt="" class="img-responsive">
      <div class="col-xs-12 col-sm-10 forward">
        <h2>&emsp;I'm an independent Front-End Developper based in Lille who bring creativity and intelligence to the world’s most beloved brands.</h2>
      </div>
    </div>
  </div>
</section>

<div class="container text-center ptb">
  <h2>Vais aller chercher l'poney!</h2>
</div>
<div class="parallax-window" data-parallax="scroll" data-image-src="images/para.jpeg"></div>


<section id="skills">
  <div class="container ptb30">
    <div class="row text-center ptb">
      <div class="col-xs-12 col-sm-3 ptb30"><i class="fa fa-html5" aria-hidden="true"></i></div>
      <div class="col-xs-12 col-sm-3 ptb30"><i class="fa fa-css3" aria-hidden="true"></i></div>
      <div class="col-xs-12 col-sm-3 ptb30"><i class="fa fa-git" aria-hidden="true"></i></div>
      <div class="col-xs-12 col-sm-3 ptb30"><img src="images/greensock-logo.svg" alt="Greensock Logo"></div>
    </div>
  </div>
</section>

<section id="projects">
  <div class="container ptb">
    <h2>PROJECTS</h2>
    <div class="row ptb">

      <div class="col-xs-12 project latest">
        <div class="content text-shadow">
          <h2>Jean-David Grattepanche</h2>
          <h4><span>Biologist</span></h4>
          <a href="">Case study</a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 project ju">
        <div class="content text-shadow">
          <h2>Julien Cornuel</h2>
          <h4><span>Supervisor musical</span></h4>
          <a href="juliencornuel.html">Case study</a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 project jd">
        <div class="text-shadow text-center flex">
          <div class="questions-project">
            <img src="images/idea.svg" alt="Any questions">
            <h2>Any questions?</h2>
            <a href="">Contact me</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


