<div class="container">
  <h2 class="very-big text-center">BIOLO<br>GY</h2>
  <div class="col-xs-12 col-sm-4 header-content ptb">
    <h1>Jean-David Grattepanche</h1>
    <h2>Research <br><span>at <a href="http://ores-group.com" target="_blank">Smith College</a></span></h2>
    <a href="" class="project-link">jeandavidgrattepanche.com</a>
  </div>
</div>



