<section>
  <div class="header-half ju"></div>
</section>

<section>
  <div class="container decal">
    <div class="presentation">
      <h1>Julien Cornuel website</h1>
      <h2>Supervisor musical <br><span>at <a href="http://ores-group.com" target="_blank">Ores Group</a></span></h2>
      <a href="" class="project-link">juliencornuel.com</a>
    </div>
    <div class="project-content ptb">
      <div class="col-xs-12">
        <img class="img-responsive" src="images/para.jpeg" alt="">
      </div>
      <div class="col-xs-12 col-sm-4">
        <h2></h2>
      </div>
    </div>
  </div>
</section>

<div class="parallax-window2" data-parallax="scroll" data-image-src="images/front-color.jpeg"></div>

<section>
  <div class="container ptb">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p class="ptb30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium iure ducimus debitis iste illo animi, quam eius tempore sit quas fugit quia mollitia sint aut asperiores error, voluptatem aliquam fuga? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores atque vero numquam fuga provident sit praesentium blanditiis recusandae commodi. Minima, maxime, hic. Quia laudantium tempore, deserunt eum vel necessitatibus inventore.</p>
        <p>You can find Julien:</p>
        <p>Linkedin</p>
        <p>Soundcloud</p>
        <p>Twitter</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <img src="images/front-color.jpeg" alt="" class="img-responsive">
      </div>
    </div>
  </div>
</section>
