<div class="main-nav hidden-xs">
  <ul class="nav">
    <li>
      <a href="/#projects" ><i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i></a>
    </li>
  </ul>
</div>

<div class="container">
  <h2 class="very-big julien">MUSIC</h2>
  <div class="col-xs-12 col-sm-4 header-content ptb">
    <h1>Julien Cornuel</h1>
    <h2>Music Supervisor <br><span>at <a href="http://ores-group.com" target="_blank">Ores Group</a></span></h2>
    <a href="" class="project-link">juliencornuel.com</a>
  </div>
</div>

<section>
  <div class="container ptb">
    <div class="col-xs-12 col-sm-6 col-sm-offset-6 ptb30">
      <h4>Lastest Project</h4>
      <p>&emsp;<span>J</span>ulien is sound designer. Music supervisor. And Music Producer at Ores Group ( an advertising and production company based in Lille, New York and Shangaï. )
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, dolor a. Quibusdam eaque, accusantium earum. Unde fuga totam quasi, corporis placeat ad at, natus magnam iure esse, provident quos. Nulla! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus debitis explicabo maxime ipsa, cupiditate itaque quas ipsam! Adipisci in eligendi deserunt, dignissimos libero repudiandae omnis doloribus. Aliquid inventore facilis, officiis <span>.</span></p>
    </div>
  </div>
</section>

<section>
  <div class="container ptb30 text-center">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <img src="images/jucornuel.png" alt="Julien Cornuel Music supervisor" class="img-responsive">
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-1 ptb">
      <blockquote><p>Hey, la disco c'est l'avenir</p><footer>Julien Cornuel</footer></blockquote>
    </div>
  </div>
</section>

