<section id="#projects">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-3 wrapper-projects blue" id="first">
        <div class="projects-content">
          <a href="juliencornuelbis.html" class="case-study-link">Case Study</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 wrapper-projects red" id="second">
        <div class="projects-content">
          <a href="juliencornuelbis.html" class="case-study-link">Case Study</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 wrapper-projects yellow" id="third">
        <div class="projects-content">
          <a href="juliencornuelbis.html" class="case-study-link">Case Study</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 wrapper-projects green" id="fourth">
        <div class="projects-content">
          <a href="juliencornuelbis.html" class="case-study-link">Case Study</a>
        </div>
      </div>
    </div>
  </div>
</section>
